body {
     font-family: Arial, sans-serif; 
     text-align:center;
     margin:0; 
     padding:0; 
     background-color:#f0f0f0; 
}

header { 
    background-color:#1a1a1a; 
    padding:20px;
 }

nav a { 
    margin:0 15px; 
    text-decoration:none; 
    color:white; 
    font-weight:bold;
 }
h1, h2 { 
    color:#00ccff; 
}

.hardware-tools{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
} 

.software-tools{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.tool-item {
    text-align: center;
}

.tool-box img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    padding: 15px;
}