body {
  font-family: Arial, sans-serif;
}

.techsphere-tools {
  background-color: #f0f8ff;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  border: 2px solid #99c2ff;
}

.tool {
  height: 120px;
  width: 150px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  display: inline-block;
  margin: 10px;
  text-align: center;
  padding-top: 40px;
  font-weight: bold;
}